body {
    padding: -4px;
    margin: -4px;
}
header {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
    width: 100vw;
    border-bottom: 1px solid #dbdbdb;
}
header button {
    margin: 1vh;
}
.content-wrapper {
    display: flex;
    display: -webkit-flex;
    height: 90vh;
    width: 100vw;
}
.nav-sidebar {
    display: flex;
    display: -webkit-flex;
    background-color: #2c2b32;
    flex-direction: column;
    padding: 2vh;
    flex: 0 1 20vw;
}
.nav-sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-sidebar li {
    margin-top: 1vh;
    cursor: pointer;
    color: white;
}
.nav-sidebar li:hover {
    background-color: white;
    color: black;
}
#article-items {
    margin-left: 3vw;
}

main {
    padding: 5vh 5vw;
    flex: 1;
}