body {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    display: flex;
    display: -webkit-flex;
    flex:0 1 80px;
}
header #admin-system {
    text-align: center;
    background-color: #48a99d;
    color: #f5f5f5;
    font-size: 20px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    flex: 1;
}
header .blog-nav {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    align-items: center;
    flex: 5;
    color: white;
}
header .blog-nav button {
    height: 50px;
    width: 80px;
    background-color: #f4f4f4;
    color: black;
    border-radius: 20px;
    margin-right: 16px;
}

.body-content {
    display: flex;
    display: -webkit-flex;
    flex-grow: 10;
}
nav {
    flex: 1;
    background-color: #26252c;
    color: #9ea3a8;
}
nav hr {
    size: 1px;
}
nav ul {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}
nav .article-subItem {
    margin-left: 20%;
    display: none;
}
nav li {
    flex: 1;
    cursor: pointer;
    margin: 10%;
    height: 32px;
    line-height: 32px;
}
nav li:hover {
    color: #49aa2c;
    background-color: #1e1d22;
}

main {
    flex: 5;
    background-color: #edeff5;
}