body {
    display: flex;
    display: -webkit-flex;;
    flex-direction: column;
    align-items: center;
    margin-top: -4px;
    background-color: #f1f1eb;
}
header {
    width: 100vw;
    background-color: white;
    font-size: 1.8rem;
    text-align: center;
    line-height: 10vh;
    flex: 0 0 10vh;
}
form {
    display: flex;
    display: -webkit-flex;;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    margin-top: 5vh;
    padding-top: 5vh;
    width: 50vw;
    flex: 0 0 70vh;
}
input {
    height: 6vh;
    width: 35vw;
}
input[type=submit] {
    height: 6vh;
    width: 10vw;
    border-radius: 5px;
    border: none;
    background-color: #3fa4de;
    color: white;
}
input[type=submit]:hover {
    background-color: #2e78a1
}
.error-hint {
    font-size: 0.8rem;
    color: firebrick;
}