.body-content {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
}
#article-title {
    font-size: 25px;
    cursor: pointer;
}
#article-information {
    margin-bottom: 32px;
    color: #87878a;
    font-size: 13px;
}
#read-all {
    flex: 0 1 30px;
    line-height: 30px;
    width: 100px;
    margin-top: 30px;
    margin-bottom: 100px;
    color: white;
    background-color: #1a1a1a;
    font-size: 18px;
    cursor: pointer;
    border: none;
    text-align: center;
}