body {
    display: flex;
    display: -webkit-flex;;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #f1f1eb;
}
header{
    width: 100%;
    background-color: white;
    font-size: 25px;
    text-align: center;
    line-height: 80px;
    flex: 0 0 80px;
}
form {
    display: flex;
    display: -webkit-flex;;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    margin-top: 50px;
    padding-top: 50px;
    width: 800px;
    flex: 0 0 500px;
}
form input {
    height: 50px;
    width: 500px;
    font-size: 15px;
}
form #submit {
    height: 50px;
    width: 200px;
    border-radius: 5px;
    border: none;
    background-color: #3fa4de;
    color: white;
}
form #submit:hover {
    cursor: pointer;
    background-color: #2e78a1
}
.error-hint {
    font-size: 12px;
    color: firebrick;
}